.carousel-content{
    background-color:rgb(252, 234, 232)!important;
}
.panda-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

/* div{
    text-align: center;
    margin-bottom: 20px;
}
button{
    height: 50px;
    width: 50px;
} */

/* img{
    display:block;
    height: 250px;
    margin: auto;
} */